#projects{
   /* margin-bottom: 50px; */
   width: 100%; 
}
#project-heading{
     margin: auto;
     margin-bottom: 20px;
     padding: 2px;
   text-align: center;
   font-family:Poppins, sans-serif;
   background-color: #162030;
   box-shadow: rgba(55, 169, 192, 0.905) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
   position: sticky;
   top: 0;
   z-index: 2;
}
#project-heading h1{
    font-size: 28px;
     color: #1395ba;
   font-weight: 600;
}
.my_projects{
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .project-card {
    width: 100%;
    height: 28rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffff;
    gap: 30px;
    box-shadow: rgba(55, 169, 192, 0.905) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 20px;
  }
  .project-card img {
    width: 100%;
    margin: auto;
    transition: width 5s;
    border-radius: 10px;
  }
.project-card img:hover {
    transform: scale(1.08); /* or whatever scale factor you prefer */
    transform-origin: center;
    transition: transform 0.2s ease-in-out;
    box-shadow: rgba(55, 169, 192, 0.905) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

  }
  .project-description p{
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    font-family:Poppins, sans-serif; 
    text-align: center;  
  } 
.project-tech-stack p{
    font-size: 15px;
    font-weight: 600;
    font-family:Poppins, sans-serif; 
    text-align: center; 
    color: #1395ba;
}
  .project-image{
    width: 45%;
  }
  .project-links {
    width: 20%;
    margin: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 20px;
  } 
  .project-links button{
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
  }  
  .project-links button:hover{
    box-shadow: rgba(55, 169, 192, 0.905) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 15px;
  }



  .project-deployed-link{
    color: #21cec0;
  } 
  .project-info{
    width: 40%;
  }
  .project-title h2{
      color: #1395ba;
      font-family:Poppins, sans-serif;
      font-weight: 600; 
  }
 
  .project-card2 {
    width: 100%;
    height: 28rem;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-align: center;
    color: #ffff;
    border-radius: 20px;

    box-shadow: rgba(55, 169, 192, 0.905) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
  .project-card2 img {
    width: 100%;
    margin: auto;
    transition: width 5s;
    border-radius: 10px;
  }
.project-card2 img:hover {
    transform: scale(1.08); /* or whatever scale factor you prefer */
    transform-origin: center;
    transition: transform 0.2s ease-in-out;
    box-shadow: rgba(55, 169, 192, 0.905) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

  }
  .project-description2 p{
     width: 100%;
     font-size: 15px;
     font-weight: 600;
     font-family:Poppins, sans-serif; 
     text-align: center;
  } 
  .project-tech-stack2 p{
    font-size: 15px;
    font-weight: 600;
    font-family:Poppins, sans-serif; 
    text-align: center; 
    color: #1395ba;
}
  .project-image2{
    width: 45%;
  }
  .project-links2 {
    width: 20%;
    margin: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 20px;
  } 
  .project-links2 button{
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
  }  
  .project-links2 button:hover{
    border-radius: 15px;
    box-shadow: rgba(55, 169, 192, 0.905) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

  }



  .project-deployed-link2{
    color: #21cec0;
  }    
  .project-info2{
    width: 45%;

  }

  .project-title2 h2{
    color: #1395ba;
    font-family:Poppins, sans-serif;
    font-weight: 600; 
}
@media screen and (min-width: 768px) and (max-width: 1023px){
  .my_projects{
    width: 90%;
    margin: auto;
  }
  .project-links{
    width: 50%;
  } 
  .project-links2{
    width: 50%;
  } 
 
}
@media screen and (max-width: 767px){
  .my_projects{
    width: 90%;
    margin: auto;
  }
  .project-links{
    width: 50%;
  } 
  .project-links2{
    width: 50%;
  }
  .project-image{
    width: 90%;
    height: 50%;
    margin-top: 20px;
  }
  .project-image2{
    width: 90%;
    height: 50%;
    margin-top: 20px;

  }
  .project-info{
    width: 90%;
  }
  .project-info2{
    width: 90%;
  }
  .project-description p{
    width: 90%;
  }
  .project-card{
    flex-direction: column;
    height: auto;
  }
  .project-card2{
    flex-direction: column;
    height: auto;
  } 
}